
body {
	background-image: url("../img/background1.jpg");
}

.container {
	padding-bottom: 20px;
}

#header {
	margin-top: 20px;
}

a.logo {
	margin-bottom: 40px;
	font-family: 'Anton', sans-serif;
	font-size: 60px;
	color: #ffa500;
}

a.logo:hover {
	text-decoration: none;
	col or: white;
	-webkit-filter: brightness(120%);

}

/*--------- Start Main ----------- */
#main {
	dis play: none;
}
#main img {
	display: block;
	margin: 0 auto;
  	-webkit-transition: all 1s ease;
		-moz-transition: all 1s ease;
		-o-transition: all 1s ease;
		-ms-transition: all 1s ease;
		transition: all 1s ease;
}
#main img:hover {
    /*opacity:0.8;
    -webkit-filter: brightness(120%); */
    border: 20px solid #ffa500;
  	border-radius: 50%;
}


#main p, #main h3, #main h4 {
	text-align: center;
}
p.distance {
	margin-top: 10px;
}

#main .sunButton {
	margin-top: -175px;
	margin-bottom: 151px;
	color: #ffa500;
}

.instructions {
	margin-bottom: 30px;
	color: white;
	text-align: center;
}

.instructions span {
	color:#ffa500 ;
}

select {
	margin-bottom: 60px;
}

/*--  About Section --------- */

#main .aboutBox {
	padding: 5px 5px 5px 20px;
	background: white;
	border-radius:5px;
	opacity: .7;
}



/* ------------Begin Results ----------------- */
#results {
	display: none;
}

.hotslogan {
	
	width: 300px;
	height: 40px;
	background: red;
	margin:0 auto;
	padding-bottom: 50px;
	margin-top: 40px;
	
		/* Image Replacement */
	text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    background: url("../img/hotslogan1.gif") no-repeat;
} 

table {
	margin: 30px auto;
}

table tr {
	border-bottom: 1px white solid;
}

table td {
	text-align: center;
}

table td:first-child {
	text-align: left;
}

table tr td {
	background: #23238E;
	color: white;
	padding: 15px;
	text-transform:capitalize;
}

table tr td:first-child { 
	width: 300px; 
}

table th {
	background: white;
	color: #23238E;
	padding: 15px;
}

th:first-child {
    border-radius: 6px 0 0 0;
}

th:last-child {
    border-radius: 0 6px 0 0;
}

/*--------------- End results ------------------- */



/* ------------ Footer --------------- */
#footer {
	margin-top: 20px;
	display: none;
}

#footer ul {
	list-style-type: none;
}

#footer a {
	color: #ffa500;
}

#footer a:hover {
	text-decoration: none;
	-webkit-filter: brightness(120%);
}


