
body {
	background-image: url("../img/background1.jpg");
}

.container {
	padding-bottom: 20px;
}


#header {
	margin-top: 20px;
}
#logo a {
	margin-bottom: 40px;
	font-family: 'Anton', sans-serif;
	font-size: 60px;
	color: #ffa500;
}

#logo a:hover {
	text-decoration: none;
	color: white;
}

/*--------- Start Main ----------- */
#main {
	displ ay: none;
}
#main img {
	display: block;
	margin: 0 auto;

}
#main p, #main h3, #main h4 {
	text-align: center;
}

#main .sunButton {
	margin-top: -175px;
	margin-bottom: 151px;
	color: #ffa500;
}

.instructions {
	backg round: white;
	padding: 1px 0;
	margin-bottom: 30px;
	border-radius: 2px;
	color: white;
	text-align: center;

}

.instructions span {
	color:#ffa500 ;
}

select {
	margin-bottom: 60px;
}

/*--  About Section --------- */

#main .aboutBox {
	padding: 5px 5px 5px 20px;
	background: white;
	border-radius:5px;
	opacity: .7;
}



/* ------------Begin Results ----------------- */
#results {
	display: none;
}

.hotslogan {
	
	width: 300px;
	height: 40px;
	background: red;
	margin:0 auto;
	padding-bottom: 50px;
	
		/* Image Replacement */
	text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    background: url("../img/hotslogan1.gif") no-repeat;
} 

table,th,td {
	bor der:1px solid black;
}

table {
	margin: 30px auto;
}

table tr {
	border-bottom: 1px white solid;
}

table td {
	text-align: center;
}

table td:first-child {
	text-align: left;
}

table tr td {
	width: 80px;
	background: #23238E;
	color: white;
	padding: 15px;
	text-transform:capitalize;
}

table tr td:first-child { 
	width: 300px; 
}

table th {
	background: white;
	color: #23238E;
	padding: 15px;
}

th:first-child {
    border-radius: 6px 0 0 0;
}

th:last-child {
    border-radius: 0 6px 0 0;
}

/*--------------- End results ------------------- */



/* ------------ Footer --------------- */
#footer {
	margin-top: 100px;
}

#footer ul {
	list-style-type: none;
	color: white;
}

#footer a {
	color: white;
	text-decoration: none;
}


